.hero {
    background: url('../assets/images/hero-man.jpg') no-repeat center center;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

#header {
    height: 80px;
    background: transparent;
    display: flex;
    align-items: center;
    transition: all 250ms;
}

#header.header-scrolled {
    background-color: var(--primary-color);
}


#header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header .logo img {
    height: auto;
    display: block;
}

#navbar {
    position: static;
    padding: 0;
}

#navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#navbar li {
    position: relative;
    padding: 6px 10px;
}

#navbar li a {
    color: #fff;
    font-weight: 500;
    padding: 5px;
    cursor: pointer;
}

.join-btn {
    border: none;
    padding: 3px 8px;
    border-radius: 3px;
    background-color: var(--accent-color);
    cursor: pointer;
}

.join-btn:hover {
    background-color: var(--accent-color);
}


@media (min-width: 992px) {
    #navbar ul {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #navbar li {
        padding: 6px 10px;
    }
}

@media (max-width: 991px) {
    #navbar ul {
        display: block;
        width: 100%;
    }

    #navbar li {
        padding: 10px 0;
        text-align: center;
    }
}

@media (max-width: 991.98px) {

    #navbar .navbar-toggler {
        color: #fff;
        border: 0;
    }

    #navbar .navbar-toggler-icon {
        width: 1.25em;
        height: 1.25em;
    }

    #navbar .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(22, 22, 22, 0.8);
    }

    
}